<div class="pt-4 mt-4 text-muted text-center">
    {% if app_telegram_bot != '' and app_telegram_news != '' %}
        <span>
            <i class="fab fa-telegram-plane"></i>
            Telegram
            <a class="text-decoration-none text-primary"
               href="{{ app_telegram_bot }}"
               target="_blank">bot</a>
            or
            <a class="text-decoration-none text-primary"
               href="{{ app_telegram_news }}"
               target="_blank">news</a>
            <br/>
        </span>
    {% endif %}

    {% if app_github != '' %}
        <span>
            <i class="fab fa-github"></i> Tronopay on
            <a class="text-decoration-none text-primary"
               href="{{ app_github }}"
               target="_blank">Github</a>
            <br/>
        </span>
    {% endif %}

    {% if app_donate != '' %}
        <a class="text-decoration-none text-secondary"
           href="https://tronopay.com/en/pay/{{ app_donate }}"
           target="_blank"><i class="fas fa-donate"></i> Donate TRX/USDT:<br/>{{ app_donate }}</a>
    {% endif %}
</div>
