<footer class="pt-4 my-4 text-muted text-center">
    {% set _route = app.request.attributes.get('_route') %}
    {% set is_main_page = (_route ==  "main") %}
    {% if is_main_page %}
        {% if app_github != '' %}
            <a class="text-decoration-none text-secondary"
               href="{{ app_github }}"
               target="_blank"><i class="fab fa-github"></i> Tronopay on Github</a>
            <br/>
        {% endif %}

        {% if app_donate != '' %}
            <a class="text-decoration-none text-secondary"
               href="https://tronopay.com/en/pay/{{ app_donate }}"
               target="_blank"><i class="fas fa-donate"></i> Donate TRX/USDT:<br/>{{ app_donate }}</a>
            <br/>
        {% endif %}
    {% endif %}

    {% set year = 'now'|date('Y') %}
    © {{ app_name }}, 2022{{- (year > '2022') ? '-' ~ year : '' }}.
    {{ 'copyright'|trans }}
</footer>
